INSIGHTS_API_URL=https://insights.za.mixtelematics.com
SENDEM_API_KEY=your_api_key_here
SENDEM_GROUP_ID=your_group_id_here

TELEMATICS_GRAPHQL_URL=https://api-emea04.telematics.guru/graphql/
TELEMATICS_TOKEN=your_token_here
TELEMATICS_ORGANISATION_ID=your_organisation_id_here
TELEMATICS_LOOKBACK_DAYS=7
TELEMATICS_PAGE_SIZE=50
TELEMATICS_LOOKBACK_HOURS=6
TELEMATICS_CHUNK_HOURS=1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=telemetry_warehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

SYNC_LOOKBACK_DAYS=7
